/* =====================================
        TABLET
===================================== */

@media(max-width:992px){

.hero{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons,
.hero-stats{

justify-content:center;

}

.diagnosis-container{

grid-template-columns:1fr;

}

.contact-container{

grid-template-columns:1fr;

}

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.nav-links{

display:none;

}

}

/* =====================================
        MOBILE
===================================== */

@media(max-width:768px){

.hero h1{

font-size:42px;

}

.section-header h2{

font-size:34px;

}

.hero-buttons{

flex-direction:column;

}

.hero-stats{

flex-direction:column;

}

.product-buttons{

flex-direction:column;

gap:15px;

}

.partner-logos{

justify-content:center;

}

}

/* =====================================
        SMALL DEVICES
===================================== */

@media(max-width:500px){

.navbar{

flex-direction:column;

gap:15px;

}

.hero{

margin-top:180px;

}

.primary-btn,
.secondary-btn{

width:100%;

}

.modal-content{

width:90%;

}

}
